:root {
  --text-gradient-primary: linear-gradient(#fff, rgba(135, 134, 129) 15%, #fff);
  --color-primary: rgba(239, 215, 162, 0.9);
  --color-tertiary: rgb(145, 111, 35);
  --color-secondary: rgb(110, 84, 27);
  --orange: rgb(240, 115, 12);
  --bg-black: #050505;
  --bg-primary: rgb(44, 24, 8);
  --bg-secondary: rgb(79, 53, 31);
  --banner-color: rgb(28, 17, 9);
  --input-bg-color: rgba(239, 215, 162, 0.9);
  --input-border-radius: 10px;

  --wrapper-width: 1129px;

  @media screen and (max-width: 1150px) {
    --wrapper-width: 100%;
  }
}
