$RobotoName: "Roboto" !default;
$RobotoFamily: "Roboto" !default;
$RobotoPath: "./assets/fonts/Roboto" !default;
$RobotoVersion: "1.0" !default;

$RockSaltName: "RockSalt" !default;
$RockSaltFamily: "Rock Salt" !default;
$RockSaltPath: "./assets/fonts/RockSalt" !default;
$RockSaltVersion: "1.0" !default;

$WaterBrushName: "WaterBrush" !default;
$WaterBrushFamily: "Water Brush" !default;
$WaterBrushPath: "./assets/fonts/WaterBrush" !default;
$WaterBrushVersion: "1.0" !default;

$YesteryearName: "Yesteryear" !default;
$YesteryearFamily: "Yesteryear" !default;
$YesteryearPath: "./assets/fonts/Yesteryear" !default;
$YesteryearVersion: "1.0" !default;
